<body onload="shuffle()">
    <script src="{{ url_for('static', filename='/abc_7.js')}}"></script>
    {% extends "base.html" %}
    {% block title %} ABC 7 {% endblock %}
    {% block pageTitle %} ABC 7 {% endblock %}
    {% block articleTitle1 %}{{title1}}{% endblock %}
    {% block articleTitle2 %}{{title2}}{% endblock %}
    {% block articleTitle3 %}{{title3}}{% endblock %}
    {% block articleTitle4 %}{{title4}}{% endblock %}
    {% block articleTitle5 %}{{title5}}{% endblock %}
    {% block articleTitle6 %}{{title6}}{% endblock %}
</body>