<body onload="shuffle()">
    <script src="{{ url_for('static', filename='/mcb_news.js')}}"></script>
    {% extends "base.html" %}
    {% block title %} MCB News {% endblock %}
    {% block pageTitle %} MCB News {% endblock %}
    {% block articleTitle1 %}{{title1}}{% endblock %}
    {% block articleTitle2 %}{{title2}}{% endblock %}
    {% block articleTitle3 %}{{title3}}{% endblock %}
    {% block articleTitle4 %}{{title4}}{% endblock %}
    {% block articleTitle5 %}{{title5}}{% endblock %}
    {% block articleTitle6 %}{{title6}}{% endblock %}
</body>